{{ form_start(form) }}

    {{ form_row(form.name) }}

    {{ form_row(form.departments) }}

    <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}

{% block js %}
<script>
 window.onload = () => {
    new CollectionType('region_departments', {managePosition : true})
}
</script>
{% endblock %}